<template>
  <div class="card">
    <img :src="product.image" alt="image" class="product-image" />
    <h3 class="name">
      {{ product.name }}
    </h3>
    <h5 class="price">Price: ${{ product.price.toFixed(2) }}</h5>
    <p class="description">Description: {{ description }}</p>
    <p class="text-muted">{{ product.category }}</p>
    <button class="view-product-button" @click="$emit('view-product', product)">
      View Product
    </button>
  </div>
</template>;

<script>
export default {
  props: ["product"],
  computed: {
    description() {
      return this.product.description.substring(0, 150);
    },
  },
};
</script>;

<style lang="scss">
.card {
  width: 80%;
  margin: 10%;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.2),
    0px 0px 1px 0px rgba(128, 128, 128, 0.2);

  img.product-image {
    height: 140px;
    object-fit: cover;
  }

  h3.name {
    color: #3b5c19;
  }

  h5.price {
    color: gray;
  }

  p.description {
    font-size: 0.85rem;
  }

  p.text-muted {
    color: gray;
  }

  button.view-product-button {
    padding: 5px 10px;
    background-color: #537c15;
    border: none;
    color: #fff;
    font-family: "Saira", sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
  }
}

@media (min-width: 500px) {
  .card {
    width: 350px;
    margin: 10px;
  }
}
</style>
