<template>
  <div
    class="drawer-background"
    :class="{ show: active }"
    @click="$emit('close-product-drawer')"
  />
  <div class="drawer" :class="{ show: active }">
    <div class="drawer-close" @click="$emit('close-product-drawer')">X</div>

    <div v-if="product" class="product-details">
      <h3 class="text-center">
        {{ product.name }}
      </h3>

      <img :src="product.image" alt="image" class="product-image" />

      <p class="description">
        {{ product.description }}
      </p>
      <h3 class="text-center">
        {{ product.price.toFixed(2) }}
      </h3>

      <div class="cart-total" v-if="product_total">
        <h3>In Cart</h3>
        <h4>
          {{ product_total }}
        </h4>
      </div>

      <div class="button-container">
        <button class="remove" @click="removeFromCart">Remove</button>
        <button class="add" @click="addToCart">Add</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["product", "active"],
  methods: {
    addToCart() {
      this.$store.commit("addToCart", this.product);
    },
    removeFromCart() {
      this.$store.commit("removeFromCart", this.product);
    },
  },
  computed: {
    product_total() {
      return this.$store.getters.productQuantity(this.product);
    },
  },
};
</script>

 <style lang="scss">
.drawer-background {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(250, 250, 250, 0.55);
  z-index: 100;
  display: none;
  transition: display 0.5s;

  &.show {
    display: block;
  }
}

.drawer {
  width: 95vw;
  height: 100vh;
  background-color: rgb(229, 233, 146);
  position: fixed;
  top: 0;
  right: -105vw;
  padding: 15px;
  transition: right 0.5s;
  z-index: 101;
  overflow-y: scroll;

  &.show {
    right: 0;
  }
}

.drawer-close {
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 5px;
  right: 10px;
  border: 2px solid black;
  color: black;
  float: right;
  cursor: pointer;

  &.hover {
    background-color: lightgray;
  }
}

.product-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;

  img.product-image {
    height: 140px;
    widows: 140px;
    object-fit: cover;
  }

  p.description {
    padding: 20px;
    line-height: 1.5rem;
  }

  .button-container {
    button {
      width: 150px;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      margin: 0 5px 50px 5px;
      cursor: pointer;
      background: #537c15;
      color: #fff;
      font-size: 1rem;
      font-family: "Saira", sans-serif;
    }
  }
}

@media (min-width: 500px) {
  .drawer {
    width: 450px;
  }
}
</style>