<template>
  <div class="tabbar-wrapper">
    <div class="brand-name-wrapper">
      <h2 class="brand-name">Ecommerce</h2>
    </div>

    <div class="nav-links-wrapper">
      <router-link :class="{ active: $route.name === 'Home' }" to="/"
        >Home</router-link
      >
      <router-link
        :class="{
          active: $route.name === 'Cart',
        }"
        to="/cart"
        >Cart</router-link
      >
    </div>

    <!-- <div id="nav">
      <router-link :class="{ active: $route.name === 'Home' }" to="/"
        >Home</router-link
      >
      |
      <router-link
        :class="{
          active: $route.name === 'Cart',
        }"
        to="/cart"
        >Cart</router-link
      >
    </div> -->
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.tabbar-wrapper {
  padding: 10px 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  line-height: 30px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.brand-name-wrapper {
  margin: 0 10px;
  h2.brand-name {
    font-weight: 400;
    text-shadow: 0 4px 4px #808080;
    letter-spacing: 2px;
  }
}

.nav-links-wrapper {
  margin: 0 10px;
  a {
    font-weight: 400;
    color: darkgray;
    text-decoration: none;
    margin: 0 5px 0 5px;
    font-size: 1.25rem;
    letter-spacing: 1px;

    &.active {
      color: #324a12;
    }
  }
}

#nav {
  padding: 10px;
  width: 100%;
  height: 30px;
  background-color: white;
  line-height: 30px;

  a {
    font-weight: bold;
    color: darkgray;
    text-decoration: none;
    margin: 0 5px 0 5px;
    font-size: 1.25rem;

    &.active {
      color: #2c3e50;
    }
  }
}
</style>