<template>
  <div>
    <h1>My Cart</h1>

    <CartItemCard
      v-for="product in products"
      :key="product.id"
      :product="product"
    />

    <h3>Cart Total: ${{ cart_total.toFixed(2) }}</h3>
  </div>
</template>

<script>
import CartItemCard from "../components/cart/CartItemCard.vue";

export default {
  components: {
    CartItemCard,
  },
  computed: {
    products() {
      return this.$store.getters.cartItems;
    },
    cart_total() {
      return this.$store.getters.cartTotal;
    },
  },
};
</script>

 <style lang="scss">
.cart-item-card {
  width: 90%;
  margin: 5%;
  background-color: white;
  box-shadow: 0 0 5px gray;
  border-radius: 10px;
  padding: 10px;
  text-align: left;

  .header {
    display: flex;
    justify-content: space-around;
  }
}
</style>