<template>
  <TabBar />
  <router-view />
</template>

<script>
import TabBar from "../src/components/tabs/TabBar.vue";

export default {
  components: {
    TabBar,
  },
  mounted() {
    this.$store.commit("updateCartFromLocalStorage");
  },
};
</script>

<style lang="scss">
#app {
  font-family: "Saira", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #324a12;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #779a3a;
}

.text-center {
  text-align: center;
}

// scrollbar css
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3b5c19 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #3b5c19;
  border-radius: 20px;
  border: none;
}
</style>
